.form__container {
    display: flex;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    margin: 1rem 0;
    padding: 1rem;

    .form__wrapper {
        display: flex;
        width: 100%;

        input {
            margin-right: 1rem;
            padding: .5rem;
            width: 100%;
        }
    }
}