.modal {
    padding: .5rem;

    .header {
        margin: 1rem 0;
        text-align: center;
    }

    .content {
        text-align: center;
    }

    .actions {
        margin-top: 1rem;
    }
}