.searchedData__container {
  display: flex;
  flex-direction: column;

  .searchedData__wrapper {
    display: flex;
    flex-direction: column;
  }

  .searchedLocationMap__default {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
  }

  .searchedLocationMap__container {
    justify-content: center;
    display: flex;
    flex: 1;
  }

  .searchedLocationData__container {
    flex: 1;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .searchedData__container {
    .searchedLocationMap__container {
      margin-right: 1rem;
      display: block;
      flex: 0;
    }

    .searchedLocationData__container {
      margin: 0;
      padding-left: 1rem;
      border-left: 1px solid #000;
    }

    .searchedData__wrapper {
      flex-direction: row;
    }
  }
}
